In [ ]:
'''
1. Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
'''
a = ["Mike", "", "Emma", "Kelly", "", "Brad"]
b = []
for i in a:
  if i != "":
    b.append(i)
print (b)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
'''
2. list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40] append 7000 to the list

output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
'''
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
'''
3.  Replace listâ€™s item with new value if found
    You have given a Python list. Write a program to find value 20 in the list,
    and if it is present, replace it with 200. Only update the first occurrence of an item.
'''
a = [10, 30, 40, 20, 50, 60, 100, 70, 20, 30]
for i in range(0, len(a)):
  if a[i] == 20:
    a[i] = 200
    break
print (a)

[10, 30, 40, 200, 50, 60, 100, 70, 20, 30]

In [9]:
'''
4. Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20
'''
a = [10, 30, 40, 20, 50, 60, 100, 70, 20, 30]
for i in a:
  if i == 20:
    a.remove(i)
    break
print(a)

[10, 30, 40, 50, 60, 100, 70, 20, 30]

In [ ]:
'''
5.
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
age = [1, 2, 2, 6]

Snowball cat is 1
'''
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
age = [1, 2, 2, 6]

for x,y,z in zip(name,animal,age):
  print(f'{x} {y} is {z}')

Snowball Cat is 1
Chewy Dog is 2
Bubbles Fish is 2
Gruff Goat is 6

In [ ]:
'''
6. list1 = ["M", "na", "i", "Ke"]
   list2 = ["y", "me", "s", "lly"]

Write a python code to concatenate two list based on index
'''
list1 = ["M", "na", "i","Ke"]
list2 = ["y","me","s","lly"]
a = []
for i,j in zip(list1, list2):
  y= i + j
  a.append(y)
" ".join(a)

'My name is Kelly'

In [ ]:
'''
7. Python code

list1 = ["Hello","take"]
list2 = ["Dear","son"]

Output:

['Hello Dear', 'Hello son', 'take Dear', 'take son']
'''
list1 = ["Hello","take"]
list2= ["Dear","Son"]
a = []
for i in list1:
  for j in list2:
    y =i+" "+j
    a.append(y)
print(a)

['Hello Dear', 'Hello Son', 'take Dear', 'take Son']

In [ ]:
'''
8. list1 = [10,20,30,40]
   list2 = [100,200,300,400]

Output:
10 400
20 300
30 200
40 100
'''
list1 = [10,20,30,40]
list2 = [100,200,300,400]
rl2 = list2[::-1]
for i,j in zip (list1, rl2):
  print (i,j)

10 400
20 300
30 200
40 100