OOPS

In [ ]:
'''
python supports - Object Oriented Program
a Obejct in python is basically defined with a key word class is called as class
Every class is a collection of varaibles and related methods
''''

In [ ]:
class Book: #class name of the class
# initialization - __init__ is the first step in every class to do
# initializations has a pre defined key word called __init__
# varaiable that are used in different methods are initialized in the __init__ method
# initialization first step - below
 def __init__(self,title,quantity,auther,price):
  self.title = title
  self.quantity = quantity
  self.auther = auther
  self.price = price
  self.__discount = 0.15
# two underscore for encapsulations.
# to access this getter and setter methods
# setter method modifies the hidden variables.
 def set_discount(self,discount):
  self.__discount = discount
## getter method
 def get_price(self):
   self.price= self.price*self.quantity*(1-self.__discount)

 def printtitle(self):
  print(self.title)
 def printrevnue(self):
  print(self.price*self.quantity)
# here __repr__ prints
 def __repr__(self): # used for print statements & when you give directly it will give memory location.
  return f"Book:{self.title},quantity:{self.quantity},discount:{self.__discount}, end price:{self.price}"

In [ ]:
book1 = Book("Moon light - 1",10,"naveen",250)
# One single class object can be used for multiple instances
book2 = Book("Moon light - 2",20,"anil",200)
book3 = Book("Moon light - 3",40,"ajay",400)
book1

Book:Moon light - 1,quantity:10,discount:0.15, end price:250

In [ ]:
book

Book:Moon light,quantity:10,discount:0.25, end price:187.5

Encapsulation

In [ ]:
# for hiding few varabiles to not to see by user and these variables accessed by only few methods can access it this
# this process is called as encapsulation

In [ ]:
'''
Spuer Market
(vegetables,fruits, chocolates) - price, quantity and discount
set for discount individual
get the peice
'''

In [ ]:
class supermarket:
  def __init__(self,vegetables_price,vegetables_quantity,fruits_price,fruits_quantity,chocolates_price,chocolates_quantity):
    self.vegetables_price = vegetables_price
    self.vegetables_quantity = vegetables_quantity
    self.fruits_price = fruits_price
    self.fruits_quantity = fruits_quantity
    self.chocolates_price = chocolates_price
    self.chocolates_quantity = chocolates_quantity
    self.__discount_vegetables = 0.25
    self.__discount_fruits = 0.10
    self.__discount_chocolates = 0.23
  def set_discount(self,discount_vegetables,discount_fruits,discount_chocolates):
    self.__discount_vegetables = discount_vegetables
    self.__discount_fruits = discount_fruits
    self.__discount_chocolates = discount_chocolates
  def get_price(self):
    self.cost_vegprice = self.vegetables_price*self.vegetables_quantity*(1-self.__discount_vegetables)
    self.discount_fruit_price = self.fruits_price*self.fruits_quantity*(1-self.__discount_fruits)
    self.discount_cho_price = self.chocolates_price*self.chocolates_quantity*(1-self.__discount_chocolates)
    return f"price after didection of discount on veg :{self.cost_vegprice},discounted price on fruits :{self.discount_fruit_price},discounted price on chocolates :{self.discount_cho_price}"
  def __repr__(self):
    return f"cost price of veg, fruit, choco: {self.cost_vegprice},{self.discount_fruit_price}, {self.discount_cho_price}"

In [ ]:
market = supermarket(100,20,40,30,200,30)
print(market.get_price())
market

price after didection of discount price on veg :1500.0,discounted price on fruits :1080.0,discounted price on chocolates :4620.0

cost price of veg, fruit, choco: 1500.0,1080.0, 4620.0

In [ ]:

market

cost price of veg, fruit, choco: 1500.0,1080.0, 4620.0

In [ ]:
class name:
  def __init__(self,Name,colour,height):
    self.Name = Name
    self.colour = colour
    self.height = height
  def set_height(self,Name,colour,height):
    self.height = height
  def get_details(self):
    self.Name = self.Name + self.colour
  def __repr__(self):
    return f"name : {self.Name}, colour : {self.colour}, height : {self.height}"

In [ ]:
Name = name("Naveen","white",172)
Name.get_details()
Name.set_height("Naveen","white",170)
Name

name : Naveenwhite, colour : white, height : 170

In [ ]:
Name.set_height("Naveen","white",170)
name

__main__.name

In [ ]:
Name

name : Naveen, colour : white, height : 170

In [ ]:
book1 = (2,3,4,5)
book1

(2, 3, 4, 5)

Inheritance

In [ ]:
'''
Ability of the class to inherit methods or properties form another class

class 1 - Methods - parents class
class 2 - Use those methods defined in class 1 into class 2 - child class
'''

In [ ]:
## parent class
class Book:
  def __init__(self,title,quantity,author,price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.price = price
    self.__discount = None
  def set_discount(self,discount):
    self.__discount = discount

  def get_price(self):
    return self.price*(1-self.__discount)

  def __repr__(self):
    return f"book : {self.title}, quantity : {self.quantity}, author : {self.author}, price : {self.price}"

In [ ]:
## child class
class Novel(Book): # childclassname(parentclassname)
  def __init__(self,title,quantity,author,price):
## means that it will take all the initializations of the parent class
    super().__init__(title,quantity,author,price)
## child class
class Academic(Book):
  def __init__(self,title,quantity,author,price,branch): # branch addiition attributes
    super().__init__(title,quantity,author,price,branch)
    self.branch = branch
  def __repr__(self):
    return f"book : {self.title}, quantity : {self.quantity}, price : {self.__price}, branch : {self.branch}"

In [ ]:
academic1 = Academic("naveen",20,"anil",340,"mech")

TypeError: ignored

In [ ]:
print(novel)

book : naveen, quantity : 20, author : anil, price : 340

In [ ]:
novel.get_price()

255.0

Polymorphism

In [ ]:
'''
refers to the childclass ability to adapt to a method alreday present in the parent class with modifications
'''

In [24]:
## parent class
class Book:
  def __init__(self,title,quantity,author,price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.__price = price
    self.__discount = None
  def set_discount(self,discount):
    self.__discount = discount
  def get_price(self):
    return self.__price*(1-self.__discount)
  def __repr__(self):
    return f"book : {self.title}, quantity : {self.quantity}, author : {self.author}"

In [25]:
## child class
class Novel(Book): #childclassname(parentsclassname)

  def __init__(self,title,quantity,author,price):
    super().__init__(title,quantity,author,price) ## ,eans that it will takes all the initiliazation of the parent class

## child class
class Academic(Book):

  def __init__(self,title,quantity,author,price,branch): # addition attributes
    super().__init__(title,quantity,author,price)
    self.barnch = branch

def __repr__(self):
  return f"book : {self.title}, quantity : {self.quantity}, author : {self.author} , barnch : {self.branch}"

In [26]:
academic1 = Academic("naveen",30,"anil",200,"mech")

In [27]:
print(academic1)

book : naveen, quantity : 30, author : anil

In [45]:
## PARENT CLASS

class Book:

  def __init__(self,title,quantity,author,price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.__price = price
    self.__discount = None

  def set_discount(self,discount):
    self.__discount = discount

  def get_price(self):
    return self.__price*(1-self.__discount)

  def __repr__(self):
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}"

In [46]:
## CHILD CLASS
class Novel(Book): #childclassname(parentclassname)

  def __init__(self,title,quantity,author,price,name):
    super().__init__(title,quantity,author,price) ##means that it will take all the initializations of the parent class

## CHILD CLASS
class Academic(Book):

  def __init__(self,title,quantity,author,price,branch): #addition attributes
    super().__init__(title,quantity,author,price)
    self.branch = branch

  def __repr__(self):
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}, Branch : {self.branch}"

In [47]:
academic1 = Academic("Two States",20,"Chetan Bhagath",200,"MBA-HR")

In [16]:
print(academic1)

Book : Two States, Quantity : 20, Author : Chetan Bhagath, Branch : MBA-HR

In [35]:
novel1 = Novel("Two States",20,"Chetan Bhagath",200,"naveen")
print(novel1)

Book : Two States, Quantity : 20, Author : Chetan Bhagath, name : naveen

Abstraction

In [ ]:
'''
1. Isn't directly supported by python = from abc import ABC, abstractmethod
2. If an abstract method is declared in the parent class, then every child class should have the implementation of it.
'''

In [38]:
from abc import ABC, abstractmethod
class Book(ABC):
  def __init__(self,title,quantity,author,price):
    self.title = title
    self.quantity = quantity
    self.author = author
    self.__price = price
    self.__discount = None
  def set_discount(self,discount):
    self.__discount = discount
  def get_price(self):
    return self.__price*(1-self.__discount)
  @abstractmethod
  def __repr__(self):
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}"

In [40]:
## child class
class Novel(Book): #childclassname(parentclassname)
  def __init__(self,title,quantity,author,price,pages):
    super().__init__(title,quantity,author,price)
    self.pages = pages
  def __repr__(self):
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}, Pages : {self.pages}"

In [43]:
novel1 = Novel("naveen",20,"anil",300,400)
print(novel1)

Book : naveen, Quantity : 20, Author : anil, Pages : 400

In [49]:
## CHILD CLASS
class Academic(Book):

  def __init__(self,title,quantity,author,price,branch): #addition attributes
    super().__init__(title,quantity,author,price)
    self.branch = branch

  def __repr__(self):
    return f"Book : {self.title}, Quantity : {self.quantity}, Author : {self.author}, Branch : {self.branch}"

In [50]:
academic1 = Academic("Two States",20,"Chetan Bhagath",200,"MBA-HR")
print(academic1)

Book : Two States, Quantity : 20, Author : Chetan Bhagath, Branch : MBA-HR

args and kwargs

In [ ]:
'''
*args and **kwargs - helps in passing variable number of arguments to a function
*args - Non keyword argument
**kwargs - keyword arguments
'''

In [51]:
def myfun(*args):
  for arg in args:
    print(arg)

In [52]:
myfun("hello","welcome")

hello
welcome

In [53]:
def myFunc(arg1,*args):
  print(arg1)
  for arg in args:
    print(arg)

In [54]:
myfun(1,2,3,4,5,6,7)

1
2
3
4
5
6
7

In [55]:
## kwargs - keyword arguments
def myfun(**kwargs):
  for key, value in kwargs.items():
    print(key,value)

In [63]:
myfun(firstname="badavath",secondname="naveen",thirtname="naik")

firstname badavath
secondname naveen
thirtname naik

In [65]:
def myFun(arg1, **kwargs):
	for key, value in kwargs.items():
		print("%s == %s" % (key, value))


# Driver code
myFun("Hi", first="badavth",Second="naveen",Last="naik")

first == badavth
Second == naveen
Last == naik

In [67]:
def myFun(*args, **kwargs):
    print("args: ", args)
    print("kwargs: ", kwargs)

myFun("Hello","Welcome", first="badavath",Second="naveen")

args:  ('Hello', 'Welcome')
kwargs:  {'first': 'badavath', 'Second': 'naveen'}

Method Overloading

In [68]:
class Calculator:

  def __init__(self):
    pass

  def add(self,x,y):
    return x+y

  def add(self,x,y,z):
    return x+y+z

In [69]:
cal = Calculator()
cal.add(1,2) @args and kwargs

TypeError: ignored

Method overriding

In [70]:
class Parentclass:
  def __init__(self):
    pass
  def call_me(self):
    print("Call me Parent Class")

class Childclass(Parentclass):
  def __init__(self):
    super().__init__()
    pass

  def call_me(self):
    print("Call me Child class")
    super().call_me()

In [71]:
par = Parentclass()
par.call_me()

Call me Parent Class

In [72]:
chilclass = Childclass()
chilclass.call_me()

Call me Child class
Call me Parent Class